.header__lang-link {
    display: grid;
    font-size: 24px;
    line-height: 133%;
    color: #ffffff;
    align-items: end;
    margin: 0;
    text-decoration: underline;
}

.header__lang-link:last-child {
    text-decoration: none;
}

@media screen and (max-width: 320px) {
.header__lang-link {
    font-size: 18px;
}

}