.page {
    min-width: 320px;
    max-width: 1280px;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    background-color: #2a2c2f;
    margin: 0 auto;
    text-rendering: optimizeLegibility;
}