.places {
    min-width: 320px;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 984px));
    padding: 92px 148px;
    row-gap: 80px;
}

@media screen and (max-width: 1110px) {
    .places {
        padding: 92px 98px;
        }
    }

@media screen and (max-width: 1024px) {
.places {
    padding: 92px 48px;
    }
}

@media screen and (max-width: 768px) {
.places {
    padding: 88px 24px;
    row-gap: 72px;    
    }
}

@media screen and (max-width: 680px) {
.places {
    padding: 64px 10px;
    }
}

@media screen and (max-width: 320px) {
.places {
    padding: 64px 0;
    row-gap: 32px;
    }
}