.place__text {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(288px, 460px));
    row-gap: 24px;
}

@media screen and (max-width: 680px) {
.place__text {
    max-width: 670px;
    }
}

@media screen and (max-width: 320px) {
.place__text {
    max-width: 288px;
    padding: 0 16px;
    }
}