.footer__link {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 112%;
    padding: 0 18px 0 0;
}

.footer__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 680px) {
.footer__link {
    font-size: 24px;
    line-height: 100%;
    }
}