.footer__copyright {
    margin: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 114%;
}

@media screen and (max-width: 680px) {
.footer__copyright {
    line-height: 100%;
    }
}
