.cover__background {
    width: 100%;
    background-size: contain;
    background-image: url(../../../image/cover-trains.jpg);
    background-repeat: no-repeat;
    padding-bottom: 50%;  
    margin: 0;
    z-index: 1;
    opacity: 0.3;
}

.cover__background:hover {
    opacity: 0.8;
}

