.place__website {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-content: start;
    align-content: end;
    row-gap: 12px;
}

@media screen and (max-width: 680px) {
.place__website {
    display: none;
    }
}